

.ui.segment:last-child{
  margin-bottom: 1rem !important;
}


#kanji {
 position: absolute;
 top:20%;
 left:0;   
 font-size: 8em;
 word-break: keep-all;
 font-weight: 600;
 color: rgba(0,0,0,0.5);
 opacity: 0.5;
 transform: translate(-55%, 20%);
}

@media only screen and (min-width: 1200px) {
  .ui.container.selected {
      width: auto !important;
    }
    } 
  
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .ui.container.selected {
      width: auto !important;
    }
  }

  @media only screen and (max-width: 1000px){
    #kanji {
      transform: translate(-50%, 20%);
    }
  }

  @media only screen and (max-width: 800px){
    #kanji {
      transform: translate(-30%, 20%);
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px){
    .ui.container.selected 
  {
    width: auto !important;
  }
  }
  
  @media only screen and (max-width: 767px){
    .ui.container.selected {
  margin-left: 0 !important;
  margin-right: 0 !important;
  }
  }

